.text{
  text-align: center;
}
body {
  background-color: rgb(221, 227, 230);
}
.clg{
  color: rgb(199, 42, 42);
  text-align: center;
}
.name{
  text-align: center;
  color: red;
}

.dept{
  text-align: center;
  color:rgb(14, 98, 98);
  border-style: dotted;
  font-size: x-large;
  padding-top: 50px;
  padding-bottom: 50px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
   
}
.link{
  text-align: center;
}
.btn{
  text-align: center;
}
